form,
footer,
.footer {
  background-color: #fff;
  max-width: 350px;
  padding: 19px 29px 29px;
  margin: 0 auto;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
  -webkit-perspective: 800px;
  perspective: 800px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px!important;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}
.form-signin .forget-password {
  text-align: center;
  padding: 7px 0;
}
.form-signup {
  display: none;
}
.form-signup .input-group {
  margin-bottom: 10px!important;
}
.form-signup .fa {
  width: 16px;
}
.form-forgot {
  display: none;
}
.form-heading {
  /* padding: 10px 0; */
    margin: 20px 0;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}
footer,
.footer {
  text-align: center;
}

form, footer, .footer {
    background-color: #fff;
    max-width: 350px;
    padding: 19px 29px 29px;
    margin: 0 auto;
    margin-bottom: 15px;
}