.xcrud{
    margin-bottom: 20px;
}
.xcrud-list{
    min-width: 100%;
    width: auto;
    display: table !important;
    margin-bottom: 3px;
 /*   table-layout: fixed;*/
}
.xcrud-list th, .xcrud-list td{
    /*white-space:nowrap;*/
}
.xcrud-column:hover{
    text-decoration: underline;
    cursor: pointer;
}
.xcrud-header{
    border-bottom: 1px solid #E5E5E5;
}
.xcrud-top-actions{
    padding: 5px 0;
}
.xcrud-container{
    position: relative;
}
.xcrud-list-container{
    overflow-x: auto;
    clear: both;
}

.xcrud-nav{
    padding: 15px 10px 5px;
}
.xcrud-nav > *{
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
}
td.xcrud-actions{
    text-align: right;
    white-space:nowrap;
}
.xcrud-actions a{
    vertical-align: top;
}
.xcrud .xcrud-list .xcrud-row:hover td.xcrud-actions-fixed{
    position: absolute;
    right: 0;
    border-left: none;
    margin-top: -1px;
}

.xcrud-overlay{
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    /*background: #fff 50% 50% no-repeat url(loading.gif);*/
    background: #fff;
    opacity: 0.5;
    width: 100%;
}
.xcrud-num{
    color: #bbb;
    width: 10px;
}
.xcrud-benchmark{
    margin: 5px;
    font-size: 10px;
    line-height: 1.2;
    float: right;
    color: #999;
}
.xcrud-benchmark span {
    margin: 0 5px;
}
table.xcrud-details.table td input,table.xcrud-details.table td select,table.xcrud-details.table td textarea{
    margin-bottom: 0;
}
.xcrud .tab-content{
    padding: 8px;
    border: 1px solid #DDDDDD;
    border-top: 0;
}
/*.xcrud .xcrud-remove-file{
    vertical-align: bottom;
    margin-left: 5px;
}*/
.xcrud .xcrud-file-container.error{
    border: 1px solid #E20101;
    background-color: #FFE4E4;
    padding-left: 5px;
}
.xcrud .xcrud-file-container{
    font-size: 14px;
    line-height: 30px;
}
.xcrud .xcrud-file-container img{
    max-width: 99%;
    vertical-align: bottom;
}
.xcrud-add-file{
    /*margin-top: 5px;*/
    position: relative;
    overflow: hidden;
}
input.xcrud-upload{
    cursor: pointer;
    direction: ltr;
    font-size: 100%;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
    -webkit-transform: translate(-300px, 0px) scale(4);
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.xcrud .xcrud-list td.xcrud-sum{
    font-weight: bold;
}

/* column styles */
.xcrud-list td.align-left{
    text-align: left
}
.xcrud-list td.align-right{
    text-align: right;
}
.xcrud-list td.align-center{
    text-align: center;
}
.xcrud-list td.font-bold{
    font-weight: bold;
}
.xcrud-list td.font-italic{
    font-style: italic;
}
.xcrud-list td.text-underline{
    text-decoration: underline;
}
.xcrud .xcrud-list td .btn{
  /*margin-top: -2px;
  margin-bottom: -6px;*/
  margin-left: 2px;
}

.xcrud-th th{
    background: #efefef;  
    white-space: nowrap;
}

.xcrud .xcrud-daterange{
    width: 80px;
}
.xcrud-googlemap img{
    max-width: inherit;
}
.xcrud-search input,.xcrud-search select{
    width: 10%;
    margin: 0 5px 0 0;
    vertical-align: top;
    min-width: 120px;
}

.xcrud .btn-group{
    white-space: nowrap;
}
.xcrud .btn-group .btn{
    float: none !important;
}
.xcrud-upload-container img{
    display: block;
    max-width: 700px;
    clear: both;
    margin-bottom: 5px;
}

ul.xcrud-map-dropdown{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
    position: absolute;
    z-index: 5;
}
ul.xcrud-map-dropdown li{
    margin: 0;
    padding: 3px 10px;
    cursor: pointer;
}
ul.xcrud-map-dropdown li:hover{
    background: #f4f4f4;
}
input.xcrud-inline{
    display: inline-block;
    width: 40%;
    margin-right: 10px;
}
.xcrud-map{
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    margin: 10px 0;
}
/*.xcrud-radio-label,.xcrud-checkboxes-label{
    display: block;
}
.xcrud-radio-label input,.xcrud-checkboxes-label input{
    margin-right: 7px;
}*/

.xcrud .validation-error{
    box-shadow: 0 0 1px red, 0 0 3px red !important;
    background: #FFEBEB !important;
}
th.xcrud-actions{
    width: 40px;
}
a.xcrud_modal{
    text-decoration: none;
    color: inherit;
}

/*.xcrud-view table tr td:first-child{
    width: 30%;
}*/
/*td.details-label{
    width: 30%;
}*/


/* messages */
.xcrud-message{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    padding: 10px 20px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05),inset 0 1px 0 rgba(0,0,0,0.05);
    display: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    color: #fff;
    color: rgba(255,255,255,0.90);
    cursor: pointer;
    z-index: 500;
}
.xcrud-message.success{
    background: #5AB95F;
    border-top: 1px solid #8A1414;
    border-bottom: 1px solid #8A1414;
}
.xcrud-message.error{
    background: #D05C5C;
    border-top: 1px solid #931C1C;
    border-bottom: 1px solid #931C1C;
}
.xcrud-message.info{
    background: #6CC3C6;
    border-top: 1px solid #127B7C;
    border-bottom: 1px solid #127B7C;
}
.xcrud-message.note{
    background: #DDB75D;
    border-top: 1px solid #A66E13;
    border-bottom: 1px solid #A66E13;
}
.xcrud-toggle-show{
    float: right;
    font-size: 13px;
    font-weight: bold;
    line-height: inherit;
    margin: 8px;
    cursor: pointer;
}
h2{
    border-bottom: 1px solid #ddd;
}
.xcrud-main-tab{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px 15px 6px;
    margin: 0 2px;
    font-size: 20px;
}

#xcrud-modal-window .modal-body > span > img{
    display: block;
    width: 100%;
}

/* RTL */
.xcrud.xcrud_rtl{
    direction: rtl;
}
.xcrud.xcrud_rtl .xcrud-list .xcrud-row:hover td.xcrud-actions-fixed{
    right: auto;
    left: 1px;
}
.xcrud.xcrud_rtl .xcrud-toggle-show{
    float: left;
}
.xcrud.xcrud_rtl .xcrud-button > i{
    margin-right: auto;
    margin-left: 4px;
}
.xcrud.xcrud_rtl .xcrud-details-table td:first-child {
    text-align: left;
}

.btn-xcrud, .btn-group-sm > .btn {
  padding: 0px 5px;
  font-size: 15px;
  line-height: 1.5;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.delete { color : #FF1F1F }
.edit { color : #669933 }
